.banner {
  text-align: center;
  background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../img/background-mobile.jpg);
  margin-bottom: 94px;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}  

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .banner { 
    background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/background-mobile-2x.jpg);
  }}
  // ==================================================
  
  @media  screen and (min-width: 768px) {
    .banner {
      background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/background-tablet.jpg);
    }
  }

  @media
  (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/background-tablet-2x.jpg);
    }
  }
// =========================================================================

@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../img/background.jpg)
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-width: 1200px) and (min-resolution: 192dpi),
    (min-width: 1200px) and (min-resolution: 2dppx) {
      .banner {
        background-image: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../img/background-2x.jpg);
      }
  }

    .main-heading {
      color: white;
      font-weight: 900;
      font-size: 26px;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 30px;
      line-height: 42px;
    }
  
    .btn-open {
      color: white;
      background-color: $maincolour;
      font-weight: 700;
      font-size: 16px;
      width: 216px;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 100px;
    }
    
    .btn-open:hover {
      @extend %scale1_05;
    }


   @media screen and (min-width: 1200px) {
      .banner {
        height: 600px;
        background-size: 100vw 600px;
        background-position:top;
      }

      .main-heading {
        padding-top: 200px;
      }
      .btn-open {
        margin-bottom: 200px;
      }
   }