.footer {
    display: flex;
    background-color: $footer-color;
    font-weight: 400;
    font-size: 14px;
    
  }
  
  .footer-div {
    padding-top: 60px;
    width: 100%;
  }
  
  .footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-webstudio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: $maincolour;
    display: flex;
    justify-content: center;
  }
  
  .footer-studio {
    color: #fff;
  }
  
  .footer-address {
    color: #fff;
  }
  
  .footer-contact {
    color: #fff;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 60px;
    row-gap: 8px;
    text-align: center;
    
  }
  
  .footer-list-item {
    color: #fff;
    opacity: 0.6;
  }
  
  .footer-list-item:first-child {
    opacity: 1;
  }
  
  .icon-footer {
    height: 20px;
    width: 20px;
    fill: #fff;
  }
  .footer-svg-list {
    display: flex;
    column-gap: 10px;
    margin-bottom: 60px
  }

  .footer-svg-list-item {
    @extend %flex-center;
    height: 44px;
    width: 44px;
    background: $footersvg;
    border-radius: 25px;
  }
  
  .footer-svg-list-item:hover {
    background-color: $maincolour;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  .footer-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .footer-heading {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  .footer-email {
    height: 50px;
    @include border($footeremail);
    border-radius: 4px;
    background-color: $footer-color;
    max-width: 450px;
    width: 100%;
  }
  
  .footer-email::placeholder {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400px;
  }
  
  .subscribe-button {
    font-family: Roboto;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: $maincolour;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  
  .icon-send {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-right: 28px;
    fill: #fff;
  }
  
  .button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 28px;
  }


@media screen and (min-width: 768px) {
  // .footer-div {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  // }
  
  // .footer-form {
    
  // }
  
  // .footer-email {
  //   width: 450px;
  // }
}

@media screen and (min-width: 1200px) {
    // .footer-div {
       
    // }
  }
