
  .header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid $headerborder;
    max-height: 80px;
  }
   .header-nav, .header-contact {
    display: none;
   }
   
   .header-logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }

  .header-web {
    color: $maincolour;
  }

  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

@media  screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-nav, .header-contact {
    display: flex;
   }

  .header-modal-svg {
    display: none;
  }
  
  
  .header-menu {
    display: flex;
    margin-left: 88px;
    margin-right: 92px;
    column-gap: 51px;
  }
  
  .email-svg {
    height: 10px;
    width: 14px;
  }
  
  .phone-svg {
    width: 10px;
    height: 14px;
  }
  
  .header-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  
  .header-menu-link {
    display: flex;
    color: $header-link_modal-heading_header-link;
    font-size: 14px;
    position: relative;
  }
  
  .header-menu-link.active::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $maincolour;
    animation: animate125 3000ms infinite 1000ms;
  }
  
  @keyframes animate125 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .active {
    color: $maincolour;
  }
  
  .header-menu-link:hover {
    color: $maincolour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  
  .header-contact-link {
    color: $contacts_modalp_and_descriptions;
    margin-left: 8px;
    font-size: 12px;
  }
  .header-contact-item {
    column-gap: 10px;

  }
  .header-contact-item:hover {
    fill: $maincolour;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  
  .header-contact-link:hover {
    color: $maincolour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  
}

@media  screen and (min-width: 1200px) {
  .header-contact {
    column-gap: 30px;
  }
  .header-contact-item {
    display: flex;
    align-items: center;
  }
  
  .header-menu-link {
    font-size: 16px;
  }
  .header-contact-link {
    font-size: 16px;
  }
  
  .header-menu-link.active::after {
    bottom: -32px;
    
  }
}