.header-webstudio {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: $maincolour;
    margin-right: 93px;
  }
  
  .header-webstudio {
    color: #000000;
  }
  
  .header-web {
    color: $maincolour;
  }
  
  .header {
    height: 80px;
    @extend %flex-center;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid $headerborder;
  }
  
  .header-wrap {
    @extend %flex-center;
  }
  
  .header-menu {
    display: flex;
    width: 218px;
    margin-right: 344px;
  }
  
  .email-svg {
    height: 12px;
    width: 16px;
  }
  
  .phone-svg {
    width: 10px;
    height: 16px;
  }
  
  .header-contact {
    display: flex;
  }
  
  .header-contact-item {
    @extend %flex-center;
  }
  
  .header-contact-item:first-child {
    margin-right: 30px;
  }
  
  .header-menu-link {
    position: relative;
    display: flex;
    color: $header-link_modal-heading_header-link;
    margin-left: 10px;
  }
  
  .header-menu-link.active::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: $maincolour;
    animation: animate125 3000ms infinite 1000ms;
  }
  
  @keyframes animate125 {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .active {
    color: $maincolour;
  }
  
  .header-menu-link {
    margin-right: 50px;
  }
  
  .header-menu-link:hover {
    color: $maincolour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  
  .header-contact-link {
    color: $contacts_modalp_and_descriptions;
    margin-left: 10px;
  }
  
  .header-contact-item:hover {
    fill: $maincolour;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  
  .header-contact-link:hover {
    color: $maincolour;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  