.main-link {
    font-weight: 700;
    font-size: 18px;
    color: $header-link_modal-heading_header-link;
    margin-top: 20px;
    margin-left: 24px;
  }
  
  .image-description {
    color: $contacts_modalp_and_descriptions;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 20px 24px;
  }
  
  .main-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 94px;
    // justify-content: center;
  }
  
  .portfolio-list-item {
    display: flex;
    flex-direction: column;
    @include border($portfolio-card-border);
    position: relative;
    }
  .main-image {
    max-width: 450px;
    max-height: 294px;
  }
  .portfolio-main:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  
  .overlay {
    position: absolute;
    transition: 0.5s ease;
    height: 294px;
    width: 370px;
    top: 0;
    background-color: $overlay;
    opacity: 0;
  }
  .overlay:hover {
    opacity: 1;
  }
  .overlay-p {
    font-weight: 400px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    width: 300px;
    margin: 63px 24px 63px 24px;
  }
  
  .portfolio-main:hover .overlay {
    opacity: 0.9;
  }
  

  @media screen and (min-width: 768px) {
    .portfolio-list-item {
      width: 48%;
    }
  }

  @media screen and (min-width: 1200px) {
     .portfolio-list-item {
      height: 404px;
      width: 370px;
    }
    
  }