body {
    font-family: 'Roboto', sans-serif ;
}
.header {
    font-weight: 500;
    font-size: 14px;
}
.header-webstudio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.header-studio {
    color: rgb(0, 0, 0);
}
.main-heading {
    font-weight: 900;
    font-size: 44px;
}
.main-button {
    font-weight: 700;
    font-size: 16px;
}
.main-subheading {
    font-weight: 700;
    font-size: 14px;
}
.main-description {
    font-weight: 400;
    font-size: 14px;
}
.section-heading {
    font-weight: 700;
    font-size: 36px;
}
.main-name {
    font-weight: 500;
    font-size: 16px;
}
.footer {
    font-weight: 400;
    font-size: 14px;
}
.footer-webstudio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.footer-studio {
    color: rgb(0, 0, 0);
}
.potfolio-button {
    font-weight: 500;
    font-size: 16px;
}
.main-link {
    font-weight: 700;
    font-size: 18px;
}
.image-description
{
 font-weight: 400;  
 font-size: 16px;
}