*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
}
/* ==================================================================================== */
.header-webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
  margin-right: 93px;

}

.header-webstudio {
  color: rgb(0, 0, 0);
}
.header-web {
  color: #2196F3;
}
.header {
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;  
  border-bottom: 1px solid #ECECEC;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu {
  display: flex;
  width: 218px;
  margin-right: 344px;
}
.email-svg {
  height: 12px;
  width: 16px;
}
.phone-svg {
  width: 10px;
  height: 16px;
}

.header-contact {
  display: flex;
}
.header-contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact-item:first-child {
  margin-right: 30px;
}
.header-menu-link {
  color: #212121;
  margin-left: 10px;
}
.header-menu-link {
  margin-right: 50px;
}
.header-menu-link:hover {
  color: #2196F3;
}
.header-contact-link {
  color: #757575;
  margin-left: 10px;
}
.header-contact-item:hover {
  color: #2196F3;
  fill: #2196F3;
}

.header-contact-link:hover {
  color: #2196F3;
}
/* ======================================================header================================================== */
.banner {
  margin-top: 0;
  text-align: center;
  height: 600px;
  background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(img/background.jpg);
  margin-bottom: 94px;
}

.main-heading {
  padding-top: 200px;
  color: white;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  margin-bottom: 23px;
}

.main-button {
  color: white;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  width: 216px;
  height: 50px;
  border-radius: 5px;
}

.main-list {
  display: flex;
}

.main-subheading {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.main-description {
  font-weight: 400;
  font-size: 14px;
  width: 270px;
  color: #757575;
}

.main-description-job {
  font-weight: 400;
  font-size: 14px;
}

.section-heading {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-top: 94px;
  margin-bottom: 50px;
}
.description-svg {
  height: 70px;
  width: 70px;
  
}
.svg-div {
  display: flex;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.main-list-item {
  margin-right: 30px;
}
/* .main-subheading::before  {
  display: block;
  width: 270px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
}
.main-list-item:nth-child(1)>.main-subheading::before  {
  content: "";
  background-image: url(img/antenna1.svg);
  
}
   .main-list-item:nth-child(2)>.main-subheading::before  {
   content: "";
  background-image: url(img/clock1.svg);
  
}
.main-list-item:nth-child(3)>.main-subheading::before  {
  content: "";
  background-image: url(img/diagram1.svg);
  
}
.main-list-item:nth-child(4)>.main-subheading::before  {
  content: "";
  background-image: url(img/astronaut1.svg);
  
} */
.main-list-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.main-list-images-item {
  position: relative;
  text-align: center; 
}

.image-label {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 0; 
  right: 0; 
  margin: 0 auto; 
  padding-bottom: 35px;
  padding-top: 35px;
  background-color: #2F303ACC;
  opacity: 0.8; 
}
.main-list-team {
  display: flex;
  justify-content: space-between;
}
.icon {
  height: 20px;
  width: 20px;
  fill: #AFB1B8;
}
.svg-list {
  display: flex;
  margin-left: 32px;
  row-gap: 10px;
  margin-bottom: 30px;
}
.svg-list-item {
  display: flex;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.svg-list-item:hover, .icon:hover {
  background-color: #2196F3;
  fill: #fff;
}

.team-section {
  background-color: #F5F4FA;
  padding: 5px;
}
.main-description-job {
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}

.team-item {
  background-color: #fff;
  margin-bottom: 94px;
}
.main-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.main-button-list {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 34px;
}
.button-section {
  margin-top: 94px;
}
.portfolio-button {
  border: none;
  margin-right: 8px;
  font-size: 16px;
  border-radius: 5px;
}
.portfolio-button:hover {
 background-color: #2196F3;
 color: #fff;
 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.button-description {
  margin: 6px 22px 6px 22px;
}
.main-link {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}

.image-description {
  font-weight: 400;
  font-size: 16px;
}

.main-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.main-portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}


.portfolio-main {
  display: flex;
  flex-direction: column;
  border: 1px solid #EEEEEE;
}

.clients-section{

}
.clients-list {
  display: flex;
  margin-bottom: 94px;
}
.clients-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;
  border: 1px solid #AFB1B8
}
.clients-list-item:hover {
  border: 1px solid #2196F3
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-svg {
  height: 60px;
  width: 106px;
  fill: #AFB1B8;
}
.client-svg:hover {
  fill: #2196F3;
}
/* ======================================================================Footer====================================================================================== */
.footer {
  background-color: #2F303A;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.footer-div {
  margin-top: 60px;
}
.footer-block {
 display: flex;
}
.footer-webstudio {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2196F3;
}

.footer-studio {
  color: white
}
.footer-address {
  color: white;
}

.footer-contact {
  color: white;
}
.footer-list {
  margin-top: 20px;
}
.footer-list-item {
  color: #fff;
  opacity: 0.6;
}
.footer-list-item:not(:first-child) {
  margin-top: 9px;
}

.footer-list-item:first-child{
   opacity: 1;
}
.footer-list-item:last-child {
  padding-bottom: 60px;
}
.icon-footer {
  height: 20px;
  width: 20px;
  fill: #fff;
}
.footer-svg-list-item {
  display: flex;
  height: 44px;
  width: 44px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF1A;
  border-radius: 25px;
}
.footer-svg-list-item:hover {
  background-color: #2196F3;
}
.footer-heading {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  color: #fff; 
  margin-bottom: 20px;
}
.footer-wrapper {
  margin-left: 70px;
  padding-bottom: 100px;
}
.footer-svg-list {
  display: flex;
}