.webstudio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
}
.web {
    color: rgb(92, 42, 231);
}
.studio {
    color: rgb(0, 0, 0);
}
nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
h1 { 
    font-family: 'Roboto', sans-serif ;
    font-weight: 900;
    font-size: 44px;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
footer a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}