body {
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


// ======================================header=======================================

@media screen and (min-width: 320px) {
  .header {
    height: 60px;
  }
   .header-nav, .header-contact {
    display: none;
   }
   
   .header-webstudio {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
  }

  .header-web {
    color: $maincolour;
  }

  .header-wrap {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }

}

@media  screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header-nav, .header-contact {
    display: flex;
   }

  .header-modal-svg {
    display: none;
  }
}

// ================================banner========================================================

@media screen and (min-width: 320px){
  .banner {
    margin-top: 0;
    text-align: center;
    height: 400px;
    width: 100vw;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../img/background.jpg);
    margin-bottom: 94px;
    background-size: cover;
    background-position: center;
  }

  .main-heading {
    margin-top: 118px;
    color: white;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
  }

  .btn-open {
    color: white;
    background-color: $maincolour;
    font-weight: 700;
    font-size: 16px;
    width: 216px;
    height: 50px;
    border-radius: 5px;
  }
  
  .btn-open:hover {
    @extend %scale1_05;
  }
}