$maincolour: #2196f3;
$footer-color: #2f303a;
$portfolio-buttons: #F5F4FA;
$overlay: #2196F3E5;
$socialmedia_and_clients: #afb1b8;
$teamsection_and_svg-div: #f5f4fa;
$contacts_modalp_and_descriptions: #757575;
$headerborder: #ececec;
$header-link_modal-heading_header-link: #212121;
$footersvg: #ffffff1a;
$footeremail: #ffffff4d;
$portfolio-card-border: #eeeeee;